@page "/Auth/Login"
@model PrancaBeauty.WebApp.Pages.Auth.Login.LoginModel
@{
    ViewData["Title"] = Localizer["Login"];
    Layout = "~/Pages/Shared/_MainLayout.cshtml";
}
<!--breadcrumbs area start-->
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="/">@Localizer["Home"]</a></li>
                        <li>@ViewData["Title"]</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--breadcrumbs area end-->
<!-- customer login start -->
<div class="customer_login">
    <div class="container">
        <div class="row">
            <!--register area start-->
            <div class="col-lg-6 col-md-6" id="CompoLogin">
                <LoadComponent id="Compo_Login" url="/Auth/Login/Components/LoginByUsernamePassword" data="null" context="HttpContext"></LoadComponent>
            </div>
            <!--register area end-->
            <!--login area start-->
            <div class="col-lg-6 col-md-6">
             
            </div>
            <!--login area start-->
           
        </div>
    </div>
</div>
<!-- customer login end -->
<!--brand area start-->
<div class="brand_area brand_padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="brand_container owl-carousel ">
                    <div class="single_brand">
                        <a href="#"><img src="/Main/img/brand/brand1.jpg" alt=""></a>
                    </div>
                    <div class="single_brand">
                        <a href="#"><img src="/Main/img/brand/brand2.jpg" alt=""></a>
                    </div>
                    <div class="single_brand">
                        <a href="#"><img src="/Main/img/brand/brand3.jpg" alt=""></a>
                    </div>
                    <div class="single_brand">
                        <a href="#"><img src="/Main/img/brand/brand4.jpg" alt=""></a>
                    </div>
                    <div class="single_brand">
                        <a href="#"><img src="/Main/img/brand/brand5.jpg" alt=""></a>
                    </div>
                    <div class="single_brand">
                        <a href="#"><img src="/Main/img/brand/brand1.jpg" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--brand area end-->
<!--shipping area start-->
@* <partial name="Shared/PartialViews/_ShippingPartialView" /> *@
<!--shipping area end-->
@section styles{
    <link href="~/lib/sweetalert/sweetalert.min.css" rel="stylesheet" />
}

@section scripts{
    <script src="~/lib/input-mask/jquery.inputmask.min.js"></script>
    <script src="~/lib/sweetalert/sweetalert.min.js"></script>
    <script>
        function GotoReturnUrl() {
            location.href = '@ViewData["ReturnUrl"]';
        }
    </script>
}